body{
  background-color: #ebf0f6;
  color: #132238;
  font-family: 'Rubik';
  font-size: 10px;
  text-align: center;
}

h1{
  font-family: 'Karla';
  color: #132238;
  font-weight: bold;
  font-size: 25px;
}

h2{
  font-family: 'Rubik';
  color: #364e68;
  font-weight: bold;
  font-size: 20px;
}

p{
  font-family: 'Rubik';
  color: #364e68;
  font-weight: lighter;
  font-size: 15px;
}

img{
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  font-weight: lighter;
  color: white;
  opacity: 0.8;
}

a:hover{
  text-decoration: none;
  opacity: 1;
  font-weight: bold;
}

#banner{
  background-image: url("https://images.unsplash.com/photo-1501791330673-603715379ded?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60");
  background-size: cover;
  padding: 150px;

}

#banner h1 {
  color: white;
  font-size: 50px;
}

#banner p {
  color: white;
  opacity: 0.8;
  font-size: 30px;
  font-weight: lighter;
}

.cards{
  margin: 80px;
}

.card{
  background-color: #ebf0f6;
  border-radius: 5px;
  -webkit-box-shadow: 6px 11px 21px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 11px 21px -7px rgba(0,0,0,0.75);
  box-shadow: 6px 11px 21px -7px rgba(0,0,0,0.75);
}

#footer{
  width: 100vw;
  height: 100px;
  background-color: #98ccd3;
  padding: 30px;
}

#footer a{
  font-size: 20px;
  color: black;
}

#footer a:hover{
  font-size: 40px;
}
